/*Color de fondo de documento: lightgray , tipo de letra sans-serif y margen de 10px */

body {
    background-color: lightgray;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin:10px;
}

h1 {
    text-align: center;
    letter-spacing: 10px;
    font-size: 300%;
}

p {
    /*margen izquierda y derecha un 10% arriba y abajo a 0*/
    margin: 0 10%;
    text-indent: 50px;
}

.imagenIzq {
   /* margen a la derecha y debajo de 10px */

    float: left;
    margin: 0 10px 10px 0;
    width: 106px;
    height: 150px;
}

h2 {
    clear: both;
    background-color: grey;
    color: white;
    padding: 3px 5px;
}